body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #626262;
  font-size: 16px;
  line-height: 23px;
}

h2 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 2em;
  line-height: 36px;
  font-weight: 700;
}

h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.5em;
  line-height: 30px;
  font-weight: 700;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.2em;
  line-height: 24px;
  font-weight: 700;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1em;
  line-height: 20px;
  font-weight: 700;
}

p {
  margin-bottom: 10px;
  font-size: 1em;
}

a {
  color: #02b168;
  text-decoration: none;
}

.iconAdj {
  font-size: 72px;
  color: #626262;
}

.navigator {
  position: relative;
  z-index: 1;
}

.branding {
  padding-top: 2%;
  padding-bottom: 2%;
}

.container {
  margin-right: 3%;
  margin-left: 3%;
}

.container.herocontainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 60%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.container.herocontainer.herocontainer-mid {
  padding: 0 3% 0 3%;
  margin: 0;
  height: 100%;
  background: rgba(2, 178, 105,0.22);
  overflow: hidden;
  height: 100%;
  z-index: 2;
}

.brand {
  display: block;
  width: 50%;
  height: 100px;
  background-image: url('../images/blvLogo-light.png');
  background-position: 0px 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.social-fb {
  width: 40px;
  height: 40px;
  background-image: url('../images/social-fb.png');
  background-position: 50% 50%;
  background-size: 25px;
  background-repeat: no-repeat;
}

.social-ins {
  width: 40px;
  height: 40px;
  background-image: url('../images/social-ins.png');
  background-position: 50% 50%;
  background-size: 25px;
  background-repeat: no-repeat;
}

.social-tw {
  width: 40px;
  height: 40px;
  background-image: url('../images/social-tw.png');
  background-position: 50% 50%;
  background-size: 25px;
  background-repeat: no-repeat;
}

.navmenu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar {
  background-color: transparent;
}

.navbar-social {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.navmenuitem {
  padding: 0px 20px 0px 0px;
  color: #626262;
}

.navmenuitem.w--open {
  color: #00a560;
}

.navmenuitem.notdrop {
  padding-right: 0px;
}

.navmenuitem.notdrop:active {
  color: #00a560;
  font-weight: 700;
}

.navmenuitembutton {
  padding: 10px 20px;
}

.navsubmenu.w--open {
  background-color: #fff;
  box-shadow: 4px 4px 1px 0 rgba(0, 0, 0, .5);
}

.hero {
  height: 75vh;
}

.hero.bookslibrary {
  background-image: url('../images/BooksLibrary-min.jpg');
  background-position: 50% 0px;
  background-size: cover;
}

.hero.betteropportunities {
  background-image: url('../images/better_opportunities-min.jpg');
  background-position: 50% 23%;
  background-size: cover;
  position: relative;
}

.hero.landing-hero {
  background-image: url('../images/hero_img-min.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero.teaching-hero {
  background-image: url('../images/EnglishClass_1.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero.hilton-hero {
  background-image: url('../images/hilton-hero.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 479px) {
  .hero.hilton-hero {
    height: 500px;
  }
}

.herotext {
  margin-top: 3%;
  float: right;
  font-size: 2.2em;
  line-height: 1.3em;
  font-weight: 700;
  text-align: right;
}

.herotext-mid {
  margin-top: 3%;
  font-size: 2.2em;
  line-height: 1.3em;
  font-weight: 700;
  text-align: center;
}

.HHO_logo {
  width: 100px;
  height: 100px;
  background-image: url('../images/HHO_white.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.HGI_logo {
  width: 200px;
  height: 100px;
  background-image: url('../images/HGI_white.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.BLV_logo {
  width: 250px;
  height: 200px;
  background-image: url('../images/BLV_white.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}
@media (max-width: 426px) {
  .BLV_logo {
    height: 100px;
  }
}

@media (min-width: 426px) {
  .HHO_logo, .HGI_logo {
    width: 200px;
    height: 200px;
  }
  .BLV_logo {
    width: 250px;
    height: 200px;
  }
}


.herotext.bookslibrary {
  position: absolute;
  bottom: 2%;
  font-size: 2.8em;
}

.herotext.betteropportunities {
  text-align: left;
  position: absolute;
  bottom: 2%;
  font-size: 2.8em;
}

.herocta {
  margin-top: 3%;
}

.big-button {
  padding: 12px 30px;
  border-radius: 5px;
  background-color: #ffc900;
  box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, .5);
  color: #000;
  font-size: 1.3em;
  font-weight: 700;
  text-align: center;
}

.big-button:hover {
  background-color: #d1b912;
}

.big-button:active {
  box-shadow: none;
  -webkit-transform: translate(2px, 2px);
  -ms-transform: translate(2px, 2px);
  transform: translate(2px, 2px);
}

.big-button.english-teaching-form-link {
  margin-left: 10px;
}

.sectiona {
  padding: 5% 3%;
}

.sectiona.bg-grey {
  background-color: #f4f4f4;
}

.col_33 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.libraryicon {
  width: 100%;
  min-height: 20%;
  background-image: url('../images/LibraryIcon.PNG');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.scholarshipicon {
  width: 100%;
  min-height: 20%;
  background-image: url('../images/ScholarshipIcon.PNG');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.tourismicon {
  width: 100%;
  min-height: 20%;
  background-image: url('../images/TourismIcon.PNG');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.main-heading {
  text-align: center;
}

.main-heading.top-pd-20 {
  position: relative;
  z-index: 0;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.main-heading.text-wh {
  color: #fff;
}

.main-heading.text-gr {
  color: #02b168;
}

.paragraph_col {
  width: 90%;
  min-height: 48%;
  line-height: 25px;
  text-align: center;
}

.paragraph_col.testimony {
  width: 100%;
  text-align: left;
}

.paragraph_col.width_80 {
  width: 80%;
}

.regbutton {
  margin-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 3px;
  background-color: #ffc900;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, .5);
  color: #000;
  font-weight: 700;
}

.regbutton:hover {
  background-color: #d1b912;
}

.regbutton:active {
  box-shadow: none;
  -webkit-transform: translate(2px, 2px);
  -ms-transform: translate(2px, 2px);
  transform: translate(2px, 2px);
}

.regbutton.regbutton2column {
  position: static;
  bottom: 10%;
}

.regbutton.float-right {
  float: right;
}

.regbutton.overlay {
  position: absolute;
  top: 0px;
  right: 0px;
}

.sectionb {
  height: 400px;
  background-image: url('../images/TourismPic-min.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.sectionb.tourism-pic {
  background-image: url('../images/TourismPic-min.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.tfb-img {
  width: 100%;
  height: 200px;
  background-image: url('../images/TFB-logo.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.regsectionshort {
  margin-bottom: 3%;
  padding-right: 3%;
  padding-left: 3%;
}

.regsectionshort.bookslibrary {
  margin-bottom: 0%;
  padding-right: 0%;
  padding-left: 0%;
}

.regsectionshort.betteropportunities {
  margin-bottom: 0%;
  padding-right: 0%;
  padding-left: 0%;
}

.col_display_flex_vertical {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.col_display_flex_vertical.testimony {
  margin-bottom: 0%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.col_display_flex_vertical.bg-blue {
  background-color: rgba(0, 130, 227, .81);
}

.col_display_flex_vertical.sectionc {
  height: 450px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-image: url('../images/BooksLibraryImplement-min.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.col_display_flex_vertical.sectionc.betteropportunities {
  // height: 450px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-image: url('../images/better_opportunities2-min.jpg');
  background-position: 47% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.col_display_flex_vertical.sectionc.bg-blue {
  background-image: none;
  background-position: 0px 0px;
  background-size: auto;
  background-repeat: repeat;
}

.col_display_flex_vertical.sectiond {
  height: 400px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-image: url('../images/BooksLibraryMonitor-min.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.col_display_flex_vertical.sectiond.betteropportunities {
  height: 400px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-image: url('../images/better_opportunities-min.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.col_display_flex_vertical.sectiond.bg-green {
  background-image: none;
  background-position: 0px 0px;
  background-size: auto;
  background-repeat: repeat;
}

.vietdan-img {
  width: 50%;
  background-image: url('../images/Vietdan-logo.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.vietdan-img.height_80 {
  background-image: url('../images/Vietdan-logo_1.png');
}

.water-img {
  width: 50%;
  background-image: url('../images/Water-logo.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.hho-img {
  width: 50%;
  background-image: url('../images/HHO_logo.jpg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.hgi-img {
  width: 50%;
  background-image: url('../images/HGI_logo.jpg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.tobinjames-img {
  width: 60%;
  background-image: url('../images/Home-logo.jpg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.tobinjames-img.height_80 {
  background-image: url('../images/new_sponsor.jpg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.tobinjames-img.height_100 {
  background-image: url('../images/new_sponsor.jpg');
}

.footercolumn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3%;
  padding-right: 5px;
  padding-left: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footercolumnheading {
  margin-bottom: 0px;
}

.footercolumnheading.align-md {
  text-align: center;
}

.carda {
  width: 100%;
  margin-bottom: 5px;
  padding-bottom: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1px solid #d2d2d2;
}

.memberpic1 {
  height: 270px;
  margin-bottom: 5px;
}

.memberpic1.thinh_nguyen {
  background-image: url('../images/ThinhNguyen.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.memberpic1.simon_walter {
  background-image: url('../images/SimonWalter.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.memberpic1.greg_hitchcock {
  background-image: url('../images/GregHitchcock.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.memberpic1.robert_do {
  background-image: url('../images/RobertDo.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.memberpic1.thach_nguyen {
  background-image: url('../images/ThachNguyen.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.memberpic1.alyssa_kopelman {
  background-image: url('../images/AlyssaKopelman.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.memberpic1.vu_thao_hoan {
  background-image: url('../images/VuThaoHoan.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.memberpic1.phuong_nguyen {
  background-image: url('../images/PhuongNguyen.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.memberpic1.bethany_tietjen {
  background-image: url('../images/BethanyTietjen.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.memberpic1.maggie_chen {
  background-image: url('../images/Maggie.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.memberpic1.akash_panda {
  background-image: url('../images/Akash.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.memberpic1.ronit_zvi {
  background-image: url('../images/RonitZvi.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.memberpic1.nancy_pham {
  background-image: url('../images/NancyPham.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.memberpic1.roman_sheydvasser {
  background-image: url('../images/RomanSheydvasser.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.memberpic1.rosa_pham {
  background-image: url('../images/RosaPham.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.memberpic1.phuong_thu {
  background-image: url('../images/Nguyen_Thi_Phuong_Thu.PNG');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.memberpic1.star_icon_student {
  background-image: url('../images/Star_Icon_Student.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.memberpic1.ngoc_anh {
  background-image: url('../images/NguyenNgocAnh.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.memberpic1.khanh_duong {
  background-image: url('../images/LeKhanhDuong.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.memberpic1.thi_tham {
  background-image: url('../images/Khuat_Thi_Sisters.JPG');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.memberpic1.thi_tuoi {
  background-image: url('../images/Khuat_Thi_Sisters.JPG');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.memberpic1.hong_hoa {
  background-image: url('../images/Nguyen_Thi_Hong_Hoa.JPG');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.memberpic1.sterling_haynes {
  background-image: url('../images/SterlingHaynes.jpg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}


.memberpic1.khuat_thi_nhung {
  background-image: url('../images/Khuat-Thi-Nhung.jpg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.memberpic1.nguyen_thi_thanh_thuong {
  background-image: url('../images/Nguyen-Thi-Thanh-Thuong.jpg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.memberpic1.vu_thi_thuy_trang {
  background-image: url('../images/Vu-Thi-Thuy-Trang.jpg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.memberpic1.nguyen_thi_thao_linh {
  background-image: url('../images/Nguyen-Thi-Thao-Linh.jpg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.card-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 25%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.card-title.bg-blue.no-radius {
  border-radius: 0px;
}

.text-wh {
  color: #fff;
}

.testimonycard {
  border: 1px solid #333;
  background-color: #f5f5f5;
}

.testimonycard.testimony {
  padding: 3% 2%;
}

.quoteicon {
  font-size: 55px;
  font-weight: 700;
}

.testimonypic {
  width: 100%;
  height: 250px;
  background-image: url('../images/TestimonyPic-min.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.dropdown-link {
  color: #626262;
}

.dropdown-link.w--current {
  color: #02b168;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.row.margin-bottom-20 {
  margin-bottom: 20px;
}

.block-link {
  display: block;
}

.paragraph.align-mid {
  text-align: center;
}

.card-heading {
  text-align: center;
}

.bg-blue {
  background-color: #0093f8;
}

.bg-green {
  background-color: #00cb77;
}

.paragraph_col_50 {
  width: 90%;
  margin-top: 10px;
  text-align: center;
}

.cardb {
  width: 100%;
  margin-bottom: 10px;
  box-shadow: 1px 1px 2px 0 #333;
}

.col_25 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  float: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.card-content {
  display: inline-block;
  width: 100%;
  height: auto;
  padding: 10px;
  background-color: #fff;
}

.text-bold {
  font-weight: 700;
}

.bg-yellow {
  background-color: #ffc900;
}

.bg-cornflower {
  background-color: #029ab1;
}

.bg-purple {
  background-color: #8f68f1;
}

.bg-red {
  background-color: #ff8030;
}

.no-radius {
  border-radius: 0px;
}

.line-break {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #d2d2d2;
}

.dropdown-box {
  width: 100%;
}

.dropdown-content.w--open {
  position: relative;
  display: block;
  padding: 10px;
}

.dropdown-toggle {
  width: 100%;
  border: 1px solid #000;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.margin-bottom-5 {
  margin-bottom: 5px;
}

.button-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 250px;
  padding: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}

.button-box:hover {
  box-shadow: 0 2px 2px 0 #626262;
  -webkit-transform: translate(0px, -3px) scale(1.03);
  -ms-transform: translate(0px, -3px) scale(1.03);
  transform: translate(0px, -3px) scale(1.03);
}

.height_80 {
  height: 80px;
}

.text-gr {
  color: #626262;
}

.link:hover {
  text-decoration: underline;
}

.col_40 {
  width: 40%;
}

.col_40.button-box {
  float: left;
}

.col_40.button-box.bg-white.border {
  border: 1px solid #d2d2d2;
}

.col_60 {
  width: 60%;
  float: left;
}

.bg-white {
  background-color: #fff;
}

.linkmask {
  position: absolute;
  width: 100%;
  height: 100%;
}

.linkmask.linka {
  display: none;
}

.col_50 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  float: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-large {
  font-size: 65px;
}

.workshop_icon {
  width: 150px;
  background-image: url('../images/workshop_icon.jpg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.city_icon {
  width: 150px;
  background-image: url('../images/city_icon.jpg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.financial_icon {
  width: 150px;
  background-image: url('../images/financial_icon.jpg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.prospect_icon {
  width: 150px;
  background-image: url('../images/prospect_icon.jpg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.english_icon
 {
  width: 100px;
  background-image: url('../images/english_icon.svg.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.student_icon {
  width: 100px;
  background-image: url('../images/student.jpg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.teacher_icon {
  width: 100px;
  background-image: url('../images/teacher.jpg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.school_icon {
  width: 100px;
  background-image: url('../images/school_icon.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.teacher_icon2 {
  width: 100px;
  background-image: url('../images/teacher_icon2.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.teacher_icon2.height_100 {
  height: 100px;
}

.student_icon2 {
  width: 100px;
  background-image: url('../images/student_icon2.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.height_100 {
  height: 100px;
}

.blv_icon2 {
  width: 100px;
  background-image: url('../images/BLV_icon2.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.tfb_icon {
  width: 100px;
  background-image: url('../images/TFB-logo-no-circle.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.text-small {
  color: #a9a9a9;
  font-size: 0.9em;
}

.text-small.text-hidden {
  display: none;
}

.plus_icon {
  width: 20px;
  height: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-image: url('../images/plus_icon.jpg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.select-field {
  display: block;
}

.sectione {
  padding: 20px 20%;
}

.text-hidden {
  display: none;
}

.div-block-4 {
  display: none;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.picture-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.picture-card.height_400.volunteer_pic {
  background-image: url('../images/teaching_english.jpg');
}

.travel_pic {
  background-image: url('../images/phang-nga-bay-2076836_1920.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.Thuong_pic {
  background-image: url('../images/Thuong.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.KhuatThiNhung_pic {
  background-image: url('../images/KhuatThiNhung.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.PhuongThu_pic {
  background-image: url('../images/PhuongThu.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.ThaoLinh_pic {
  background-image: url('../images/ThaoLinh.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.VuThiThuTrang_pic {
  background-image: url('../images/VuThiThuTrang.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.height_400 {
  height: 400px;
}

.book_pic {
  background-image: url('../images/donate_book_program.jpg');
  background-position: 50% 0px;
  background-size: cover;
  background-repeat: no-repeat;
}

.volunteer_pic {
  background-image: url('../images/volunteer_pic2.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.div-block-5 {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url('../images/TFB-logo-no-circle.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.div-block-6 {
  padding: 15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #fff;
}

.overlay-picture-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 0%;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0;
}

.overlay-picture-card.bg-blue.bopacity_20 {
  background-color: rgba(0, 147, 248, .4);
}

.overlay-picture-card.bg-yellow.bopacity_20 {
  background-color: rgba(255, 201, 0, .6);
}

.overlay-picture-card.bg-green.bopacity_20 {
  background-color: rgba(0, 203, 119, .4);
}

.overlay-picture-card.bg-cornflower.bopacity_20 {
  background-color: rgba(2, 154, 177, .4);
}

.overlay-picture-card.bg-purple.bopacity_20 {
  background-color: rgba(143, 104, 241, .4);
}

.tfb_no_round {
  width: 80px;
  background-image: url('../images/TFB-logo-no-circle.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.div-block-7 {
  padding: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border: 2px solid #179ab3;
  border-radius: 50%;
  background-color: #fff;
}

.text-underline {
  text-decoration: underline;
}

.text-hover {
  text-decoration: underline;
}

.video-block {
  width: 100%;
  height: 100%;
  padding-bottom: 20px;
}

.picture-card-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.no-padding {
	padding: 0;
}

.form-wrapper-1 {
  padding: 20px;
}

.bg-grey {
  background-color: #d2d2d2;
}

.column-2 {
  padding-bottom: 10px;
}

.paypal_code {
  display: inline-block;
  float: right;
}

.align-left {
  text-align: left;
}

.float-left {
  float: left;
}

.overlay-button {
  position: absolute;
  top: 220px;
  right: 0px;
}

.attach-button {
  background-color: #ffc900;
  box-shadow: 1px 1px 2px 0 #000;
  color: #000;
  font-weight: 700;
}

.row-2 {
  margin-bottom: 10px;
}

.dropdown-newsletter {
  width: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
}

.quote_icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 350px;
  padding: 20% 18%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/quote.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.col_30 {
  width: 33.33%;
}

.paragraph-2 {
  text-align: center;
}

.div-block-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.normal_link {
  color: #626262;
}

.donate-link {
  padding: 10px 20px;
}

@media (max-width: 991px) {
  .brand {
    height: 70px;
  }
  .navmenuitem {
    margin-right: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: left;
  }
  .navmenuitembutton {
    font-size: 14px;
  }
  .paragraph_col {
    font-size: 14px;
  }
  .regbutton {
    font-size: 14px;
  }
  .col_display_flex_vertical.sectionc {
    height: 500px;
  }
  .footercolumn {
    padding-right: 0px;
    padding-left: 0px;
  }
  .footercolumnheading {
    font-size: 13px;
  }
  .height_80 {
    height: 60px;
  }
  .div-block-7 {
    padding: 13px;
  }
  .video-block {
    margin-bottom: 10px;
  }
  .heightc {
    height: 300px;
  }
  .quote_icon {
    padding: 10% 35%;
  }
  .col_30 {
    width: 100%;
  }
  .div-block-8 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media (max-width: 767px) {
  .brand {
    padding-left: 0px;
  }
  .navmenu {
    background-color: #f0f0f0;
  }
  .navbar-social {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 10px;
    padding-left: 10px;
  }
  .navbar-social.socialscr-sm {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .navmenuitem {
    margin-right: 0px;
    margin-left: 0px;
  }
  .navmenuitem.notdrop {
    width: 100%;
  }
  .navsubmenu.w--open {
    border-top: 1px none #000;
    background-color: #cecece;
    box-shadow: inset 0 0 5px 0 #000;
  }
  .navbarbutton {
    background-color: #02b269;
  }
  .navbarbutton.w--open {
    margin-right: -2%;
    background-color: #02b168;
  }
  .navbaricon {
    color: #fff;
  }
  .hero {
    height: 300px;
  }
  .herotext {
    font-size: 1.5em;
  }
  .herotext.bookslibrary {
    bottom: 33%;
  }
  .herotext.betteropportunities {
    bottom: 33%;
  }
  .big-button {
    padding: 8px 25px;
    font-size: 1em;
  }
  .col_33 {
    // height: 320px;
    padding-top: 10px;
    padding-bottom: 60px;
  }
  .col_33.short-col {
    height: 200px;
  }
  .paragraph_col {
    min-height: 25%;
  }
  .sectionb {
    height: 250px;
  }
  .col_display_flex_vertical {
    height: 250px;
  }
  .col_display_flex_vertical.sectionc {
    height: 400px;
  }
  .col_display_flex_vertical.small-device-height {
    // height: 300px;
    height: 100%;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-content: flex-end;
    -ms-flex-line-pack: end;
    align-content: flex-end;
  }
  .col_display_flex_vertical.small-device-height_150 {
    height: 150px;
  }
  .vietdan-img {
    width: 60%;
  }
  .tobinjames-img {
    width: 50%;
  }
  .quoteicon {
    font-size: 37px;
  }
  .paragraph_col_50 {
    width: 97%;
    margin-left: 10px;
    text-align: left;
  }
  .col_25 {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .plus_icon {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .div-block-3.row {
    padding-right: 10%;
    padding-left: 10%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .sectione {
    padding-right: 3%;
    padding-left: 3%;
  }
  .height_400 {
    height: 320px;
  }
  .picture-card-column {
    margin-bottom: 10px;
  }
  .heightc {
    height: auto;
  }
  .heading {
    font-size: 30px;
  }
  .auto-height {
    height: auto;
  }
  .quote_icon {
    padding-right: 30%;
    padding-left: 30%;
  }
  .col_30 {
    margin-bottom: 10px;
  }
}

@media (max-width: 479px) {
  .container.herocontainer {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .brand {
    width: 100%;
  }
  .hide--mobile {
    display: none;
  }
  .hero {
    height: 400px;
    background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .22), rgba(0, 0, 0, .22)), url('../images/hero_img-min.jpg');
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .22), rgba(0, 0, 0, .22)), url('../images/hero_img-min.jpg');
    background-position: 0px 0px, 36% 0px;
    background-size: auto, auto 120%;
    background-repeat: repeat, no-repeat;
  }
  .hero.bookslibrary {
    background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .25), rgba(0, 0, 0, .25)), url('../images/BooksLibrary-min.jpg');
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .25), rgba(0, 0, 0, .25)), url('../images/BooksLibrary-min.jpg');
    background-position: 0px 0px, 50% 0px;
    background-size: auto, cover;
    background-repeat: repeat, repeat;
  }
  .hero.betteropportunities {
    background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .25), rgba(0, 0, 0, .25)), url('../images/better_opportunities-min.jpg');
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .25), rgba(0, 0, 0, .25)), url('../images/better_opportunities-min.jpg');
    background-position: 0px 0px, 50% 0px;
    background-size: auto, cover;
    position: relative;
    background-repeat: repeat, repeat;
  }
  .herotext {
    font-size: 1.4em;
    line-height: 1.4em;
    text-align: center;
  }
  .herotext.bookslibrary {
    bottom: 20%;
  }
  .herotext.betteropportunities {
    bottom: 20%;
  }
  .main-heading {
    font-size: 18px;
  }
  .paragraph_col {
    width: 100%;
  }
  .paragraph_col.testimony {
    font-size: 12px;
  }
  .sectionb {
    background-position: 50% 0px;
    background-size: auto 180%;
  }
  .col_display_flex_vertical.testimony {
    height: 300px;
  }
  .col_display_flex_vertical.sectionc {
    height: 550px;
  }
  .col_display_flex_vertical.small-device-height {
    // height: 180px;
    height: 100%;
  }
  .water-img {
    height: 80%;
  }
  .dropdown-toggle {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .text-block {
    overflow: auto;
  }
  .heightc {
    height: auto;
  }
  .paypal_code {
    float: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .text-block-2 {
    overflow: auto;
  }
  .text-block-3 {
    overflow: auto;
  }
  .quote_icon {
    height: 300px;
    padding-right: 20%;
    padding-left: 20%;
  }
}

